
@{
    ViewBag.Title = "Index";
}
<h1>@ViewBag.Message</h1>

<form method="post" action="/Example/Save">
    <input type="text" name="id" />
    <input type="text" name="name" />
    <button type="submit">Save</button>
</form>
<form method="post" action="/Example/Save2">
    <input type="text" name="id2" />
    <input type="text" name="name2" />
    <button type="submit">Save2</button>
</form>

