
@{
    ViewBag.Title = "Index";
}

<h2>RenameProduct</h2>
<form method="post" action="/Example/Save">
    <input type="text" name="id" />
    <input type="text" name="name" />
    <button type="submit">Save</button>
</form>


